@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gochi+Hand&family=Graduate&family=Grand+Hotel&family=Schoolbell&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Sacramento&family=Satisfy&family=Sevillana&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: var(--preto);
}
:root {
    --vermelho: red;
    --vermelho2: rgb(255, 80, 80);
    --amarelo: yellow;
    --azul: blue;
    --verde: green;
    --branco: white;
    --preto: black;
    --azulpiscina: #87c8e0;
    --verdepiscina: #9de2c6;
    --vermelhoclaro: rgb(255, 128, 128);
    --amareloclaro: rgb(255, 255, 135);
    --azulnavbar: #3885FB;
    /* cores da logo */
    --amarelologo: #FCBB0E;
    --azullogo: #1360D2;
    --amareloqueimadologo: #D77D07;
    --vermelhologo: #B30461;
    /* outras variáveis */
    --min-width: 720px;
    --max-width: 1300px;
    --corletralogo: var(--amarelologo);
    --sombraletralogo: var(--preto);
}

body {
    background-color: var(--verdepiscina);
}

#container {
    position: relative;
    margin: 0 auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
    background: var(--verdepiscina);
}

/* ///// INÍCIO DA ESTILIZAÇÃO DO TOPO DA PÁGINA ///// */
#cabecalho {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    background-color: var(--verdepiscina);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.logodaempresa-header {
    margin: 0 auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.logodaempresa-header a {
    width: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logodaempresa-header img {
    width: 100%;
}
#nomedacreche {
    margin: 15px 0 5px 0;
    min-width: var(--min-width);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#nomedacreche-primeiraparte .embarque {
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    letter-spacing: 0.2em;
    color: var(--corletralogo);
    text-shadow: 1px 1px 2px var(--sombraletralogo);
}
#nomedacreche-primeiraparte .nesse {
    font-family: 'Gochi Hand', cursive;
    letter-spacing: 0.15em;
    font-size: 18px;
    color: var(--corletralogo);
    margin-left: 5px;
    text-shadow: 1px 1px 2px var(--sombraletralogo);
}
#nomedacreche-segundaparte {
    font-family: 'Gochi Hand', cursive;
    letter-spacing: 0.5em;
    font-size: 2.5em;
    font-weight: 900;
    margin-top: -10px;
    color: var(--corletralogo);
    text-shadow: 1px 1px 2px var(--sombraletralogo);
}
/* ///// FIM DA ESTILIZAÇÃO DO TOPO DA PÁGINA ///// */


/* ///// INÍCIO DA ESTILIZAÇÃO DO MENU DE NAVEGAÇÃO ///// */
#menu-de-navegacao-superior {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-background: linear-gradient(to bottom, var(--azulnavbar), var(--azulpiscina));
    -o-background: linear-gradient(to bottom, var(--azulnavbar), var(--azulpiscina));
    -webkit-background: linear-gradient(to bottom, var(--azulnavbar), var(--azulpiscina));
    background: linear-gradient(to bottom, var(--azulnavbar), var(--azulpiscina));
}
#menu-de-navegacao-superior ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#menu-de-navegacao-superior li {
    margin: 0 10px;
}
#menu-de-navegacao-superior a {
    color: var(--preto);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 10px 15px;
    background: transparent;
    border-radius: 10px;
}
#menu-de-navegacao-superior a,
#menu-de-navegacao-superior a:hover {
    transition: all 0.5s;
}
#menu-de-navegacao-superior a:hover {
    color: var(--preto);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 10px 15px;
    border-radius: 10px;
    -moz-background: linear-gradient(30deg, var(--azullogo), transparent) var(--azulpiscina);
    -o-background: linear-gradient(30deg, var(--azullogo), transparent) var(--azulpiscina);
    -webkit-background: linear-gradient(30deg, var(--azullogo), transparent) var(--azulpiscina);
    background: linear-gradient(0deg, var(--azullogo), transparent) var(--verdepiscina);
}
/* ///// FIM DA ESTILIZAÇÃO DO MENU DE NAVEGAÇÃO ///// */


/* ///// INÍCIO DA ESTILIZAÇÃO DO MAIN ///// */
#foto-da-escola {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: 5px auto 0px auto;
    position: relative;
}
#foto-da-escola div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#foto-da-escola div img{
    width: 100%;
    opacity: 80%;
    filter: brightness(70%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#matricula-aberta {
    width: 100%;
    height: 200px;
    background: url(imagens/fundo-azul.jpg) no-repeat center center;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#matricula-texto {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
#matricula-texto p {
    font-size: 35px;
    font-weight: 700;
    color: var(--amarelologo);
}
#matricula-aberta button {
    height: 50px;
    padding: 0 80px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    -moz-background: linear-gradient(to bottom, var(--amarelologo), var(--amareloqueimadologo));
    -o-background: linear-gradient(to bottom, var(--amarelologo), var(--amareloqueimadologo));
    -webkit-background: linear-gradient(to bottom, var(--amarelologo), var(--amareloqueimadologo));
    background: linear-gradient(0deg, var(--amarelologo), transparent) var(--amareloqueimadologo);
    color: var(--branco);
    text-shadow: 1.5px 1.5px 2px var(--preto);
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    cursor: pointer;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#matricula-aberta button:hover {
    -moz-background: linear-gradient(25deg, var(--azullogo), transparent) var(--azulnavbar);
    -o-background: linear-gradient(25deg, var(--azullogo), transparent) var(--azulnavbar);
    -webkit-background: linear-gradient(25deg, var(--azullogo), transparent) var(--azulnavbar);
    background: linear-gradient(25deg, var(--azullogo), transparent) var(--azulnavbar);
    color: var(--branco);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#Escola-infantil {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: 0 auto;
    background-color: var(--branco);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Escola-infantil h2 {
    font-size: 3.5rem;
    color: var(--azullogo);
    letter-spacing: 0.05em;
    padding: 5px 0;
}
#Escola-infantil h4 {
    font-size: 1rem;
    color: var(--preto);
    letter-spacing: 0.01em;
    padding: 0 0 5px 0;
}
#faixas-etarias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px 10px;
    margin: 20px 0;
    width: 80%;
}
#faixas-etarias img {
    width: 150px;
    margin-top: 10px;
}
#faixas-etarias h3 {
    font-size: 24px;
    color: var(--azullogo);
    margin-top: 10px
}

#a-importancia-de-comecar-cedo {
    width: 100%;
    height: 300px;
    background: url(imagens/fundo-bebe.png) no-repeat center center;
    position: relative;
}
#a-importancia-de-comecar-cedo div {
    width: 400px;
    position: absolute;
    transform:translateY(-50%);
    top: 50%;
    right: 4rem;
}
#a-importancia-de-comecar-cedo h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
#a-importancia-de-comecar-cedo p {
    font-size: 20px;
    line-height: 1.6rem;
    text-align: justify;
}

#valores {
    width: 100%;
    padding: 10px;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#valores h1 {
    font-size: 40px;
    color: var(--azullogo);
    padding: 20px 0;
    letter-spacing: 0.05em;
}
#valores02 {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.caixa-valores {
    text-align: center;
    background-color: var(--azulpiscina);
    border-radius: 15px;
    width: 250px;
    height: 220px;
    margin: 10px;
    box-shadow: 2px 3px 4px var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.caixa-valores:hover {
    cursor: pointer;
}
.titulo-caixa-valores {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: 25%;
}
.texto-caixa-valores {
    font-size: 18px;
    padding: 10px 10px 10px 10px;
}
#cuid-afet {
    background: url(imagens/affection.png) no-repeat left top;
    background-size: 50px;
    background-position: 15px 6px;
    background-color: rgb(255, 105, 105);
}
#educ-inclus {
    background: url(imagens/Inclusive.png) no-repeat left top;
    background-size: 40px;
    background-position: 15px 15px;
    background-color: rgb(255, 255, 0);
}
#apre-ludic {
    background: url(imagens/ludic.png) no-repeat left top;
    background-size: 40px;
    background-position: 15px 20px;
    background-color: rgb(108, 108, 255);
}
#parc-pais {
    background: url(imagens/parents.png) no-repeat left top;
    background-size: 40px;
    background-position: 15px 20px;
    background-color: rgb(56, 235, 56);
}
#etic-trans {
    background: url(imagens/transparency.png) no-repeat left top;
    background-size: 40px;
    background-position: 15px 20px;
    background-color: rgba(128, 0, 128, 0.521);
}
#resp-soc-amb {
    background: url(imagens/ambiental-responsability.png) no-repeat left top;
    background-size: 50px;
    background-position: 15px 5px;
    background-color: rgb(255, 166, 0);
}

#diferenciais {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    background-color: var(--branco);
    padding: 10px;
}
#diferenciais h2 {
    font-size: 40px;
    color: var(--azullogo);
    padding: 0px 50px;
    letter-spacing: 0.05em;
}
#diferenciais div {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px 10px 10px;
}
#diferenciais div ul {
    padding: 0 20px;
    width: 50%;
    min-width: 450px;
}
#diferenciais div ul li {
    list-style: circle;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}
#diferenciais div ul li:hover {
    list-style: circle;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    -moz-background: linear-gradient(25deg, var(--amarelologo), transparent) var(--amareloqueimadologo);
    -o-background: linear-gradient(25deg, var(--amarelologo), transparent) var(--amareloqueimadologo);
    -webkit-background: linear-gradient(25deg, var(--amarelologo), transparent) var(--amareloqueimadologo);
    background: linear-gradient(25deg, var(--amarelologo), transparent) var(--amareloqueimadologo);
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#diferenciais div img {
    box-shadow: -3px 4px 5px var(--preto);
    width: 45%;
    min-width: 400px;
    padding: 5px;
    transform: rotate(5deg);
    margin: 20px 10px 20px 20px;
}

#maps {
    -moz-background: linear-gradient(to left, var(--amareloqueimadologo), var(--amarelologo));
    -o-background: linear-gradient(to left, var(--amareloqueimadologo), var(--amarelologo));
    -webkit-background: linear-gradient(to left, var(--amareloqueimadologo), var(--amarelologo));
    background: linear-gradient(to bottom, var(--amarelologo), var(--amareloqueimadologo));
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 30px 10px;
}
#maps iframe {
    box-shadow: 0px 0px 10px var(--preto);
}
#maps h2 {
    font-size: 40px;
    color: var(--branco);
    padding-bottom: 10px;
    letter-spacing: 0.05em;
}
#maps button {
    height: 50px;
    padding: 0 80px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    -moz-background: linear-gradient(to bottom, var(--amarelologo), var(--amareloqueimadologo));
    -o-background: linear-gradient(to bottom, var(--amarelologo), var(--amareloqueimadologo));
    -webkit-background: linear-gradient(to bottom, var(--amarelologo), var(--amareloqueimadologo));
    background: linear-gradient(to bottom, var(--amarelologo), var(--amareloqueimadologo));
    color: var(--branco);
    text-shadow: 1.5px 1.5px 2px var(--preto);
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 35px;
}
#maps button, 
#maps button:hover {
    transition: all 0.5s;
}
#maps button:hover {
    -moz-background: linear-gradient(25deg, var(--azullogo), transparent) var(--azulnavbar);
    -o-background: linear-gradient(25deg, var(--azullogo), transparent) var(--azulnavbar);
    -webkit-background: linear-gradient(25deg, var(--azullogo), transparent) var(--azulnavbar); 
    background: linear-gradient(25deg, var(--azullogo), transparent) var(--azulnavbar);
    color: var(--branco);
}
/* ///// FIM DA ESTILIZAÇÃO DO MAIN ///// */


/* ///// INÍCIO DA ESTILIZAÇÃO DO FOOTER ///// */
footer {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

footer #social-endereco-contato {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 50px;
}
footer #social {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer #social a {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer #social ion-icon {
    font-size: 30px;
    color: var(--preto);
    background: transparent;
    border-radius: 25%;
    padding: 5px;
    transition: all 0.3s;
}
footer #social ion-icon:hover {
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

footer #endereco {
    width: 200px;
}
footer #endereco p {
    color: var(--preto);
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5rem;
}

footer #contato {
    width: 200px;
}
footer #contato p, footer #contato a {
    color: var(--preto);
    font-size: 1.2rem;
    text-align: right;
    line-height: 1.5rem;
}
footer #contato a:hover {
    color: var(--branco)
}

footer #direitos {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid rgb(151, 151, 151);
    display: block;
    text-align: center;
}
footer #direitos span {
    display: block;
}
footer #direitos a:hover {
    color: rgb(92, 92, 92);
}
/* ///// FIM DA ESTILIZAÇÃO DO FOOTER ///// */