@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gochi+Hand&family=Graduate&family=Grand+Hotel&family=Schoolbell&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap');

:root {
    --vermelho: red;
    --amarelo: yellow;
    --azul: blue;
    --verde: green;
    --branco: white;
    --preto: black;
    --azulpiscina: #87c8e0;
    --verdepiscina: #87e0bd;
    --vermelhoclaro: rgb(255, 128, 128);
    --amareloclaro: rgb(255, 255, 135);
    --azulnavbar: #3885FB;
    /* cores da logo */
    --amarelologo: #FCBB0E;
    --azullogo: #1360D2;
    --amareloqueimadologo: #D77D07;
    --vermelhologo: #B30461;
}
body {
    background: var(--azulpiscina);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

}
header {
    height: 10em;
    margin: 0 auto;
    padding: 20px 0;
    min-width: 800px;

    display: flex;
    align-items:baseline;
    justify-content: space-around;
    
    background-image: linear-gradient(to bottom, var(--azulpiscina), var(--amareloclaro));
    -moz-background-image: linear-gradient(to bottom, var(--azulpiscina), var(--amareloclaro));
    -o-background-image: linear-gradient(to bottom, var(--azulpiscina), var(--amareloclaro));
    -webkit-background-image: linear-gradient(to bottom, var(--azulpiscina), var(--amareloclaro));

    border: 1px solid red;
}

/* Logo do cabeçalho do site */
#logo-header {
    width: 20%;
    height: 100%;
    margin-left: 50px;
    min-width: 2.5%;
    border: 1px solid red;

    align-items: center;

}
#logo-header img {
    float: left;
    height: 100%;
    padding: 0 20%;

    border: 1px solid red;
}
/* Menu de navegação horizontal superior */
#navlist-header {
    width: 70%;
    margin: 0 auto;
    min-width: 800px;

    border: 1px solid red;
}
#navlist-header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navlist-header nav ul li a {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--azulnavbar);    
    margin: 0 25px;
    letter-spacing: -0.05em;
    background-color: transparent;
    padding: 5px 5px 20px 5px;
    align-content: center;
    line-height: 1.4em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    transition: all 0.3s;
}
#navlist-header nav ul li a:hover {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--branco);
    margin: 0 25px;;
    letter-spacing: -0.05em;
    background-color: var(--azulpiscina);
    padding: 5px 5px 25px 5px;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    transition: all 0.3s;
}
/* Nome da creche */
#nomecreche {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    position: absolute;
    top: 10px;
    color: var(--amareloqueimadologo);
    
    font-family: 'Fredericka the Great', Georgia, 'Times New Roman', Times, serif;
}
#nomecreche #embarquenesse {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#nomecreche #embarquenesse {
    display: flex;
    align-items: end;
    justify-content: center;
}
#nomecreche #embarquenesse #embarque {
    margin-right: 5px;
    font-size: 30px;
    letter-spacing: -0.03em;
}
#nomecreche #embarquenesse #nesse {
    font-size: 16px;
    margin-bottom: 2.6px;
}
#nomecreche #carrossel {
    font-size: 45px;
    font-stretch:ultra-condensed;
    -moz-font-stretch:ultra-condensed;
    -o-font-stretch:ultra-condensed;
    -webkit-font-stretch:ultra-condensed;
    font-weight: 900;
    margin-top: -5px;
}